[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
xmlrunner = "*"
args = "*"
wheel = "*"
setuptools = "*"
pylint = "*"
my-project = {editable = true,path = "."}

[packages]
clint = "*"

[requires]
python_version = "3.*"
